<div id="chat-container">
  <div id="chat-header">
    <h4>Chat de Skaters</h4>
    <h6 id="nombreusuario">Nombre de suario</h6>
  </div>
  <div id="chat-messages">
    <div>
      <div>
        <div>Conectado</div>
      </div>
      <div id="chat"></div>
    </div>
  </div>
  <form id="formulario">
    <input type="text" name="mensaje" id="mensaje" placeholder="Escriba su mensaje" />
    <div>
      <button id="sendMessage" >Enviar</button>
      <button id="clearChat">Borrar Conversacion</button>
    </div>
  </form>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>