<nav>
  <!-- Contenedor principal del menú de navegación -->
  <div>
    <div id="navbarNav">
      <!-- Lista de enlaces del menú -->
      <ul>
        <!-- Elemento de la lista que contiene un enlace a la página de inicio -->
        <li>
          <a aria-current="page" href="/">Home</a>
        </li>
        <!-- Elemento de la lista que contiene un enlace a la página de productos -->
        <li>
          <a aria-current="page" href="/products">Productos</a>
        </li>
        <!-- Elemento de la lista que contiene un enlace al chat de la comunidad -->
        <li>
          <a aria-current="page" href="/chat">Chat de la comunidad</a>
        </li>
      </ul>
    </div>
  </div>
  
  <!-- Contenedor adicional del menú de navegación -->
  <div id="navbarSupportedContent">
    <!-- Formulario de búsqueda -->
    <form role="search">
      <!-- Enlace a la página de productos en tiempo real -->
      <a href="/realtimeproducts" type="submit">Real time products</a>
    </form>
  </div>
</nav>