<nav>
  <div>
    <div id="navbarNav">
      <ul>
        <li>
          <a aria-current="page" href="/">Productos</a>
        </li>
        <li>
          <a aria-current="page" href="/chat">Chat de la comunidad</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="navbarSupportedContent">
    <form role="search">
      <a href="/realtimeproducts" type="submit">Real time products</a>
    </form>
  </div>
</nav>